---
title:
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><% if(title){ %><%= title %> – <% } %>Cynlet's Programming Den</title>
	<link rel="icon" href="/img/FishLogo.svg" />
	<link rel="stylesheet" type="text/css" href="/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>
<body>

  <div class="main">
    <header class="top">
      <img src="/img/FishLogo.svg" alt="CynLu Logo"></img>
      <! >
      <% links.navLinks.forEach(link => { %>
          <% if (link.slug == page.url) { %>
            <a class="site-nav active" href="<%= link.slug %>"><%= link.title%></a>
          <% } else { %>
            <a class="site-nav" href="<%= link.slug%>"><%= link.title %></a> 
          <% } %>
      <% }) %>
    </header>
 
    <%- content -%>
  </div>

</body>
</html>
